<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>


<%= @cocktail.name %>

<% @doses.each do |dose| %>
<%= dose.description  %>
<%= dose.ingredient.name %>
<%= link_to "Delete dose", dose_path(dose), method: :delete, data:{confirm: "are u sure?"} %>
<% end %>



<%= link_to "Create new dose", new_cocktail_dose_path(@cocktail) %>



